<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="_userIsManager">
        <a class="nav-link" routerLink="theaters-view">Theatres view</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="_userIsDirector">
        <a class="nav-link" routerLink="arts-view">Arts view</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="user-view">User view</a>
      </li>
    </ul>
  </div>
</nav>
