<!--<button (click)="toggleExpand()">Change your password</button>-->
<!--<div class="expandable-section" [ngClass]="{ 'expanded': isExpanded }">-->
<!--  <div class="row justify-content-center">-->
<!--    <form (ngSubmit)="onSubmitNewPassword()" #passwordForm="ngForm">-->
<!--      <div class="form-outline mb-4">-->
<!--        <input class="form-control" type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword"/>-->
<!--        <label class="form-label" for="newPassword">Password</label>-->
<!--      </div>-->
<!--      <button type="submit" class="btn btn-primary btn-block mb-4">Change password</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="toggleExpand()">Change Your Password</button>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-md-6">
      <div class="expandable-section" [ngClass]="{ 'expanded': isExpanded }">
        <form (ngSubmit)="onSubmitNewPassword()" #passwordForm="ngForm">
          <div class="form-group mb-4">
            <input class="form-control" type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword"/>
            <label class="form-label" for="newPassword">Password</label>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
