<app-header [userName]="userService.loggedInUserFirstName"></app-header>

<div class="container mt-5"> <!-- Dodano klasę 'container' dla Bootstrapa -->
  <div class="row justify-content-center">
    <div class="col-4">
      <form (ngSubmit)="onAddCharacter()" #startCreateArt="ngForm">
        <div class="form-outline mb-4">
          <input class="form-control" type="text" id="charactersName" name="charactersName"
                 [(ngModel)]="newCharacter.name"/>
          <label class="form-label" for="charactersName">Characters name</label>
        </div>
        <div class="form-outline mb-4">
          <select class="form-select" #charactersSex (change)="onSexSelected(charactersSex.value)"
                  [(ngModel)]="newCharacter.sex" id="charactersSex" name="charactersSex">
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
            <option value="NONE">None</option>
          </select>
          <label class="form-label" for="charactersSex">Characters sex</label>
        </div>
        <button type="submit" class="btn btn-secondary btn-block mb-4">Add Character</button>
      </form>
    </div>
  </div>

  <div class="row justify-content-center mt-3"> <!-- Dodano odstęp i nowy rząd dla tabeli -->
    <ag-grid-angular
      id="charactersGrid"
      class="ag-theme-alpine"
      rowSelection="single"
      [columnDefs]="columnDefs"
      [rowData]="characters">
    </ag-grid-angular>
  </div>

  <div class="row justify-content-center mt-3"> <!-- Dodano odstęp i nowy rząd dla przycisku -->
    <button class="btn btn-primary btn-block continueBtn" (click)="onContinue()">Continue</button>
  </div>
</div>
